<!DOCTYPE html>
<html lang="en" ng-app="currencyApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="main.js"></script>
  <title>Document</title>
</head>
<body ng-controller="currencyController" class="container-fluid">
  <div class="page-header">
    <h1 class="text-center header">Currency converter</h1>
  </div>
  <div class="main-wrapper container">
    <!-- <div class="row">
      <ul class="nav nav-tabs">
        <li class="col-md-6 col-sm-6 col-xs-6 converter-tub text-center"><a href="#">Buy currency</a></li>
        <li class="col-md-6 col-sm-6 col-xs-6 converter-tub text-center"><a href="#">Sell currency</a></li>
      </ul>
    </div> -->
    <div class = "row">
      <div class="exchange-rates-wrapper">
        <h4 class="text-center">{{exchangeRates}}</h4>
      </div>
      <div class="form-wrapper">
        <form class="form-group" role="form">
          <div class="converter-form">
            <div class="input-wrapper">
              <label for="select-left">Currency I Have:</label>
              <select 
                class="form-control form-select" 
                id="select-left" 
                ng-model="haveCurrency" 
                ng-change="changeHaveCyrrency(haveCurrency)"
              >
                <option ng-repeat="currency in allCurrencies" value="{{currency.id}}">{{currency.id}}</option>
              </select>
            </div>          
            <span class="btn btn-icon glyphicon glyphicon-sort"></span>
            <div class="input-wrapper">
              <label for="select-right">Currency I Want:</label>
              <select 
                class="form-control form-select" 
                id="select-right" 
                ng-model="wantCurrency" 
                ng-change="changeWantCyrrency(wantCurrency)"
              >
                <option ng-repeat="currency in allCurrencies" value="{{currency.id}}">{{currency.id}}</option>
              </select>
            </div>
          </div>          
          <div class="form-inline converter-form" role="form">
            <input 
              type="text" 
              class="form-control conv-form-input" 
              ng-model="haveAmount" 
              ng-change="haveAmountChange(haveAmount)"
            />
            <input type="text" class="form-control conv-form-input" ng-model="wantAmount"/>
          </div>
          <div class="comission-wrapper">
            <select 
              class="form-control btn btn-link select-comission"
              ng-model="selectedcommission"
              ng-options="option.name for option in commissionOptions"
              ng-change="changeCommission(selectedcommission.value)"
            >
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <button ng-click="click($event)">click</button> -->
</body>
</html>