.main-wrapper {
  max-width: 860px;
  min-width: 700px;
}
.rotate-icon {
  transform: rotate(90deg);
}
.converter-form {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px; 
  align-items: flex-end;
  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 47%;
    label {
      padding-left: 10px;
      margin: 0;
    }
  }
  .button-change-place {
    max-width: 5%;
    max-height: 34px;
    span {
      color: white;
    }
  }
  .conv-form-input{
    width: 47%;
  }
}